.lecture {
    background-color: #89EAFF;
    font-weight: bold;

}
.purpose {
    background-color: #424354;
    color: #fff;
}
h3 {
    font-weight: bold !important;
}
h4 {
    font-weight: bold !important;
}

.usage h3 span {
    background:linear-gradient(transparent 60%, #F97FC0 60%);
}
.split_title span {
    border-bottom: 2px solid #000;
}

.img_explanation {
    width: 45%;
}

.login_warning {
    font-size: .8rem;
    font-weight: bold;
}