.progress-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 3;
    background: linear-gradient(to right, #42d9fb, #fc53ad);
}
#container {
    position: relative;
    top: 50%;
    width: 100%;
    height: 8px;
}

.progressbar-text {
    font-family: 'Orbitron', sans-serif;
}

#img-loaded {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: none;
}
